:root {
  --purple-dark: #340059;
  --pink-light: #edd3ff;
  --pink-hover: #d2a7ef;
  --btn-border: #b589d3;
}

body, input, textarea, button {
  font-family: 'Ubuntu Mono', Courier, monospace;
  background-color: var(--purple-dark);
  color: var(--pink-light);
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 2em;
  text-align: left;
}

h3 {
  font-size: 2em;
  text-align: right;
}

.container {
  width: 100%;
}

.message {
  height: 30px;
}

#scoreBox {
  width: 240px;
  margin: auto;
}

#names {
  display: inline-block;
  width: 180px;
}

#scores {
  display: inline-block;
  width: 50px;
}

#grid {
  display: grid;
  background-color: var(--pink-light);
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#buttonBox {
  height: 120px;
  width: 100%;
  text-align: center;
}

#newGame {
  margin-top: 30px;
  padding: 5px 10px 6px 10px;
  border-radius: 10px;
  background-color: var(--pink-light);
  border: 2px solid var(--btn-border);
  color: var(--purple-dark);
  display: none;
}

#newGame:hover {
  background-color: var(--pink-hover);
}

.piece {
  text-align: center;
}
