:root {
  --purple-dark: #340059;
  --pink-light: #edd3ff;
}

body, input, textarea, button {
  font-family: 'Ubuntu Mono', Courier, monospace;
  background-color: var(--purple-dark);
  color: var(--pink-light);
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 2em;
  text-align: left;
}

.container {
  width: 100%;
}

.message {
  height: 30px;
}

#score {
  width: 224px;
  margin: auto;
}

#grid {
  display: grid;
  background-color: var(--pink-light);
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  background-color: var(--purple-dark);
}

.piece {
  text-align: center;
}
