:root {
  --purple-dark: #340059;
  --toggleOn: #7a2cb2;
  --pink-light: #edd3ff;
  --pink-hover: #d2a7ef;
  --btn-border: #b589d3;
}

body, input, textarea, button {
  font-family: 'Ubuntu Mono', Courier, monospace;
  background-color: var(--purple-dark);
  color: var(--pink-light);
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 2em;
  text-align: left;
}

h3 {
  font-size: 2em;
  text-align: right;
}

h4 {
  font-size: 1.5em;
  text-align: right;
  margin-top: 4px;
}

p {
  text-align: center;
}

.container {
  width: 100%;
}

.message {
  height: 30px;
}

#scoreBox {
  width: 240px;
  margin: auto;
}

#names {
  display: inline-block;
  width: 180px;
}

#scores {
  display: inline-block;
  width: 50px;
}

#grid {
  display: grid;
  background-color: var(--pink-light);
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#buttonBox {
  height: 120px;
  width: 100%;
  text-align: center;
}

#newGame {
  margin-top: 30px;
  padding: 5px 10px 6px 10px;
  border-radius: 10px;
  background-color: var(--pink-light);
  border: 2px solid var(--btn-border);
  color: var(--purple-dark);
  display: none;
}

#newGame:hover {
  background-color: var(--pink-hover);
}

.piece {
  text-align: center;
}

.minimaxBox {
  width: 320px;
  height: 100%;
  margin: auto;
}

#toggleBox {
  height: 50px;
  width: 100%;
  text-align: center;
}

#leftBox {
  float:left;
  width: 230px;
}

#rightBox {
  float:right;
  width: 90px;
}

/* The switch - the box around the slider */
.switch {
 position: relative;
 display: inline-block;
 width: 60px;
 height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: var(--btn-border);
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: var(--toggleOn);
}

input:focus + .slider {
 box-shadow: 0 0 1px var(--toggleOn);
}

input:checked + .slider:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
 border-radius: 34px;
}

.slider.round:before {
 border-radius: 50%;
}
